@import '../../assets/variables';

.navbar {
  width: auto;
  position: fixed;
  z-index: 666;
  top: 16px;
  left: 16px;
  right: 16px;
  background: rgba($white, .1);
  border-radius: $border-radius;
  padding: $padding;
  backdrop-filter: blur(32px);
  ul {
    display: flex;
    li {
      list-style: none;
      margin-left: $margin;
      color: $white;
      &.active { color: $primary }
      &:hover { color: $primary; }
    }
  }
}