@font-face {
  font-family: "FemmeFatale";
  src: url("/src/assets/fonts/FemmeFatale-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Roboto Flex";
  src: url("/src/assets/fonts/RobotoFlex.ttf") format("truetype");
}